.feature{
    width: 100%;
    
}
.featured_image{
    border: 1px solid none;
    border-radius: 1em;
    width: 100%;
    max-width: 700px;
}

.feature_heading{
    color: #fff;
    margin-top: 1em;
    font-weight: 600;
    font-size: 1.7em;
}
h1:hover{
    transition: all;
    cursor: pointer;
    color: #ce2429;
}