.flex_head{
    display: flex;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
    
    
}

.flex_head img{
    width: 100%;
    max-width: 500px;
    border-radius: 1em;
    margin-top: -1.5em;
}

.flex_head h2{
    border: 1px solid #fff;
    width: 4em;
    padding: 6px;
    height: 2.3em;
    font-size: 1em;
    font-weight: 100;
    margin-top: 2em;
    border-radius: 5px;
    font-family: 'Raleway', sans-serif;

}

.flex_head P{
    color: #fff;
    margin-top: 1em;
    font-size: 2em;
}