
.text-white{
    color: #fff;
}

header{
    width: 100%;
    padding: 1em;
    border-bottom: 1px solid gray;

}
.header_wrapper{
    max-width: 110em;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header_icons{
    display: flex;
    gap: 1em;
    
}