.smart{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    padding: 2px;
    margin-left: 1.3em;
}

.smart_img{
    border: 1px solid none;
    border-radius: 1em;
    margin-top: 1em;
    
}

.smart_details{
    margin-top: 1em;
    color: #fff;
    border: 1px solid #fff;
    width: 4em;
    padding: 5px;
    border-radius: 3px;

}


.smart_head h2{
    font-size: 2em;
    font-weight: 400;
}



.smart_avat{
    margin-top: 1em;
    display: flex;
    
}

.smart_avat h3{
    margin-left: .1em;
}

