.tick_head{
    display: flex;
    
}

.tick_head img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.tick_left{
    margin-left: 1em;
}

.tick_head h2{
    font-weight: 500;
    font-size: 1.1em;
    align-items: center;
  
}

.tick_head p{
    margin-top: 2px;
    display: flex;
}

.tick_right{
    margin-left: 19em;
    margin-top: -2.5em;
    font-size: 15px;
    border: 1px solid #fff;
    padding: 10px;
    width: 10em;
    border-radius: 10px;
    display: flex;
    gap: 2px;
}

.tick_right h3{
    margin-top: 2px;
    text-align: center;
    margin-left: 10px;

}

.tick_right svg{
    color: #fff;
    
}

.tick_main{
    width: 100%;
}