.trends{
    display: flex;
    flex-direction: column;

}

.trend_header{
    padding: 1em;

}

p{
    color: #6b6a6a;
    font-size: 1em;
}

h2{
    color: #fff;
    margin-top: .4em;
    font-weight:700;
}

.trends_content{
    margin-top: 3em;
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 1em;
    max-width: 500px;
}

